<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <title>Title</title>
</head>
<body>
<form action="/member/save" method="post"  enctype="multipart/form-data" >
    이메일:<input  type ="text"  class="form-control" name="memberEmail" id="memberEmail" placeholder="이메일을 입력하세요" onblur="EmailDuplicate()">
    <span id="Email-dup-result"></span> <br />

    비밀번호:<input type ="text" class="form-control" name="memberPassword" id="memberPassword" placeholder="비밀번호를 입력하세요"><br />
    <div id="pwCheck"></div>
    이름:<input type="text" class="form-control" name="memberName" placeholder="이름을 입력하세요"><br />
    전화번호:<input type="text" class="form-control" name="memberMobile" id="memberMobile" placeholder="전화번호 입력하세요"><br />
    <div id="mobileCheck"></div>
    프로필:<input type="file"  name="memberFile" ><br />
    <input type="text" id="sample6_postcode" placeholder="우편번호">
    <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
    <input type="text" id="sample6_address" placeholder="주소"><br>
    <input type="text" id="sample6_detailAddress" placeholder="상세주소">
    <input type="text" id="sample6_extraAddress" placeholder="참고항목"><br />

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <input class="btn btn-primary" type="submit" value="회원가입">
</form>
        <button class="btn btn-warning" onclick="back()">돌아가기</button>
</body>
    <script th:inline="javascript">
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
                    var extraAddr = ''; // 참고항목 변수

                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                    if(data.userSelectedType === 'R'){
                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있고, 공동주택일 경우 추가한다.
                        if(data.buildingName !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        // 조합된 참고항목을 해당 필드에 넣는다.
                        document.getElementById("sample6_extraAddress").value = extraAddr;

                    } else {
                        document.getElementById("sample6_extraAddress").value = '';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sample6_postcode').value = data.zonecode;
                    document.getElementById("sample6_address").value = addr;
                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById("sample6_detailAddress").focus();
                }
            }).open();
        }






        const back = () => {
          location.href="/"
        }




        const EmailDuplicate = () => {
            const  Email=document.getElementById("memberEmail").value;
            const  checkResult=document.getElementById("Email-dup-result");
            $.ajax({
                type:"post",
                url:"/member/emailCheck",
                dataType: "text",
                data:{
                    "memberEmail":Email
                },
                success:function (result){
                    if(result== "ok"){
                        checkResult.innerHTML="사용가능합니다😊";
                        checkResult.style.color="green";
                    }else {
                        checkResult.innerHTML="중복된 아이디 입니다😒";
                        checkResult.style.color="red";
                    }
                },
                error:function (){
                    alert("실패")
                }
            });
        }
        const pwJ=/^[A-Za-z0-9]{4,12}$/;
        $("#memberPassword").blur(function () {
            if(pwJ.test($("#memberPassword").val())){
                console.log("ture");
                $("#pwCheck").text("사용가능합니다😊")
                $("#pwCheck").css("color","green");
            }else {
                console.log("false");
                $("#pwCheck").text("숫자,문자로만4~12자리입력😒")
                $("#pwCheck").css("color","red");
            }


        })

        const mobileJ= /^01([0|1|6|7|8|9]?)?([0-9]{3,4})?([0-9]{4})$/;
        $("#memberMobile").blur(function () {
            if(mobileJ.test($("#memberMobile").val())){
                console.log("ture");
                $("#mobileCheck").text("전화번호가 입력되었습니다😊")
                $("#mobileCheck").css("color","green");
            }else {
                console.log("false");
                $("#mobileCheck").text("다시입력해주세요😒")
                $("#mobileCheck").css("color","red");
            }


        })
    </script>
</html>