<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<h2>상세 정보</h2>
<table>
    <thead>
    <tr>
        <th>글번호</th>
        <th>작성자</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성시간</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${board.id}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardContents}"></a></td>
        <td th:text="*{#temporals.format(board.boardCreatedDate,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${board.boardHits}"></td>
        <td><img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></td>
        <div th:if="${session.loginEmail}==${board.boardWriter}">
            <td><button class="btn btn-danger" onclick="deleteById()">삭제</button></td>
            <td><button class="btn btn-primary" onclick="updateById()">수정</button></td>
        </div>

        <div th:if="${session.loginEmail}">
            <div th:if="${session.loginEmail.toString().equals('admin')}">
                <td><button class="btn btn-danger" onclick="deleteById()">관리자용삭제</button></td>
        </div>
        </div>
    </tr>
    </tbody>
</table>

    <div class="container mt-3">
        <div id="comment-write" class="input-group mb-3">
            <div class="form-floating">
                <input type="text" id="commentWriter" class="form-control" th:value="${session.loginEmail}"  placeholder="작성자" readonly>
                <label for="commentWriter">작성자</label>
            </div>
            <div class="form-floating">
                <input type="text" id="commentContents" class="form-control" >
                <label for="commentContents">내용</label>
            </div>
            <button id="comment-write-btn" class="btn btn-primary">작성</button>

        </div>


    </div>
<div id="comment-List">
    <table class="table">
        <tr>
            <td>댓글번호</td>
            <td>작성자</td>
            <td>내용</td>
            <td>작성시간</td>
        </tr>
        <tr th:each="comment:${commentList}">
            <td th:text="${comment.id}"></td>
            <td th:text="${comment.commentWriter}"></td>
            <td th:text="${comment.commentContents}"></td>
            <td th:text="*{#temporals.format(comment.commentCreatedDate,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><input class="btn btn-danger" type="button" th:if="(${#strings.equals(session['loginEmail'],'admin')}) or
(${session.loginEmail}==${comment.commentWriter})"
                       th:onclick="deleteByComment([[${comment.id}]])"
                       value="삭제"></td>
        </tr>
    </table>
</div>

</body>
    <script th:inline="javascript">
        const deleteByComment = (id) => {
            console.log("버튼입력")
            console.log(id);
            const  reqUrl ="/comment/"+id
            $.ajax({
                type: "delete",
                url: reqUrl,

                success:function (){
                    alert("댓글이 삭제 되었습니다")
                    location.reload();
                }, error(){
                    alert("ajax 실패")
                }
            });
        }



        const deleteById = () => {
            const id = [[${board.id}]];
            location.href="/board/delete/"+id;

        }
        const updateById = () => {
            const id = [[${board.id}]];
            location.href="/board/update/"+id;

        }

        $("#comment-write-btn").click(function () {
            const cWriter=document.getElementById("commentWriter").value;
            const cContents=$("#commentContents").val();
            const boardId = [[${board.id}]];

            $.ajax({
                type:"post",
                url:"/comment/save",
                data:{
                   "commentWriter":cWriter,
                    "commentContents":cContents,
                    "boardId":boardId,
                },
                dataType:"json",
                success:function (result){
                    console.log(result);
                }
            });
        });

    </script>
</html>