<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>


<form action="/board/update"  method="post" name="updateForm">
    글번호: <input class="form-control" type="text" name="id" th:value="${boardUpdate.id}" readonly><br />
    글제목: <input class="form-control" type="text" name="boardTitle" th:value="${boardUpdate.boardTitle}"><br />
    작성자: <input class="form-control" type="text" name="boardWriter" th:value="${boardUpdate.boardWriter}"  readonly ><br />
    내용: <input class="form-control" type="text" name="boardContents" th:value="${boardUpdate.boardContents}"><br />
    파일:<input type="file" name="boardFileName" th:value="${boardUpdate.boardFileName}"><br />
    <input type="button" th:onclick="update()" value="수정">

</form>
</body>
<script th:inline="javascript">
    const update = () => {

        updateForm.submit();
    }
</script>
</html>